---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/drivers/alonso/constructors.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.5","series":"f1","url":"http://ergast.com/api/f1/drivers/alonso/constructors.json","limit":"30","offset":"0","total":"6","ConstructorTable":{"driverId":"alonso","Constructors":[{"constructorId":"alpine","url":"http:\/\/en.wikipedia.org\/wiki\/Alpine_F1_Team","name":"Alpine
        F1 Team","nationality":"French"},{"constructorId":"aston_martin","url":"http:\/\/en.wikipedia.org\/wiki\/Aston_Martin_in_Formula_One","name":"Aston
        Martin","nationality":"British"},{"constructorId":"ferrari","url":"http:\/\/en.wikipedia.org\/wiki\/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},{"constructorId":"mclaren","url":"http:\/\/en.wikipedia.org\/wiki\/McLaren","name":"McLaren","nationality":"British"},{"constructorId":"minardi","url":"http:\/\/en.wikipedia.org\/wiki\/Minardi","name":"Minardi","nationality":"Italian"},{"constructorId":"renault","url":"http:\/\/en.wikipedia.org\/wiki\/Renault_in_Formula_One","name":"Renault","nationality":"French"}]}}}'
  recorded_at: Thu, 16 Mar 2023 18:43:47 GMT
recorded_with: VCR 6.1.0
