---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/2022/drivers/alonso/constructors.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.5","series":"f1","url":"http://ergast.com/api/f1/2022/drivers/alonso/constructors.json","limit":"30","offset":"0","total":"1","ConstructorTable":{"season":"2022","driverId":"alonso","Constructors":[{"constructorId":"alpine","url":"http:\/\/en.wikipedia.org\/wiki\/Alpine_F1_Team","name":"Alpine
        F1 Team","nationality":"French"}]}}}'
  recorded_at: Wed, 28 Jun 2023 01:49:40 GMT
recorded_with: VCR 6.1.0
